/**! @license style.scss; SCSS for jsCMS by Yuki TANABE on Apr 20, 2017 | pm8.jp */

@import "./normalize.scss";
@import "./font-awesome.scss";

$white:#fff;
$bgMain:#f2e1ce;
$bgSub:#e5d5c6;
$bgAccent:#4c4743;
$txtMain:#1a1a1a;
$txtSub:#cc6a2d;
$txtLink:#00b0ff;
$borderMain:#e5d5c6;

/*
  72px:3.0rem
  60px:2.5rem
  48px:2.0rem
  36ox:1.5rsrem
*/
.cf::after{clear:both; content:""; display:block;}
.hide{display:none;}
body{background-color:$bgMain; color:$txtMain;}
div.img{background:no-repeat center center; background-size:cover; display:block; }
p{margin:0;}

h1{}
h2{}
h3{}
h4{}
h5{}
table{ width:100%;
  th{text-align:left;}
}
#header{align-items:center; box-sizing:border-box; display:flex; position:relative; }
app{border:10px solid $borderMain; box-sizing:border-box; display:block; height:100%; overflow:scroll; -webkit-overflow-scrolling:touch; position:fixed; width:100%; }
#header{}
#main{}
#index{}
#list{
  article{ background-color:$white;
    &.data{ border:1px solid $borderMain; box-sizing:border-box; margin:0 auto 1rem; padding:1rem; width:90%;
      h4{ margin:0;}
      section{
        h5{ margin:1rem 0 0;}
      }
    }
  }
}
#menu{margin:0; padding:0;}