//- @license index.pug; PugTemplate for jsCMS by Yuki TANABE on May 12, 2017 | pm8.jp
doctype html
html(lang="ja")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		link(href="/lib/css/style.css" rel="stylesheet")
		title jsCMS
	body
		app(now='{now}' dose="{dose}")
		script(src='/lib/js/bridge.min.js')
		script(src='/lib/js/utility.min.js')
		script(src='/lib/js/riot+compiler.min.js' type='text/javascript')
		script(src='/lib/js/route.min.js' type='text/javascript')
		script(src='/lib/js/data.min.js' type='text/javascript')
		script(src="/lib/tag/_app.tag" type="riot/tag")
		script(src="/lib/tag/_header.tag" type="riot/tag")
		script(src="/lib/tag/_main.tag" type="riot/tag")
		script(src="/lib/tag/_menu.tag" type="riot/tag")
		script(src="/lib/tag/index.tag" type="riot/tag")
		script(src="/lib/js/script.min.js" type="text/javascript")
		script.
			var now = window.location.href.split('/').pop();
			if (!now || now === 'undefined' || now === 'index.html') {
				now = 'index';
			}
			now = data[now];
			route.base('/');
			riot.mount('*');
			route.start();