//- @license index.pug; PugTemplate for jsCMS by Yuki TANABE on May 12, 2017 | pm8.jp
doctype html
html(lang='ja')
	head
		title Nothing Found.
	body
		h1 Nothing Found.
		p we do not provide nothing in this url.